.hidden {
  visibility: hidden;
}

.comment-form {
  display: flex;
  justify-content: center;
}

.comment-input {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  max-width: 100%;
  width: 100%;
  height: 18px;
  max-height: 80px;
  outline: 0;
  padding: 0;
  resize: none;
  text-indent: 0;
  text-align: start;
  background: none;
  border: none;
  padding-top: 5px;
}
