.carousel-dot {
  font-size: 8px;
}

.image-carousel {
  position: relative;
  width: 556px;
  max-height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;

}

.post-images > .image-carousel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
  overflow:hidden;
}

img.mySlides {
  max-width: 400px;
  max-height: 400px;
  box-shadow: 4px 4px 30px 0 ghostwhite;
  overflow: hidden;
}

.post-images > .image-carousel > img.mySlides {
  max-width: 100%;
  max-height: 100%;
}

.image-carousel-nav {
  width: 100%;
  display: flex;
  color: white;
  justify-content: space-between;
  position: absolute;
  top: 50%;
}

.carousel-nav-dots {
  color: grey;
  width: 100%;
  background: white;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.carousel-indiv-dot{
  margin-right: 5px;
}

.carousel-arrow-background {
  position: relative;
  mix-blend-mode: lighten;
  display: flex;
  justify-content: center;
  font-size: 21px;
  padding: 0 6px;
}

.carousel-arrow {
  font-size: 15px;
  align-self: center;
  position: absolute;
  color: black;
  mix-blend-mode: multiply;
}
