.nav-bar-component {
  width: 100%;
  height: 75px;
  border: 1px solid #e6e6e6;
  background: white;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  width: 71%;
  height: inherit;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.home-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar-icon {
  font-size: 46px;
  display: inline-flex;
  text-decoration: none;
  color: black;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  min-width: 244px;
  line-height: 2;
}

.line {
  padding: 0 5px;
  line-height: 42px;
}

.nav-bar > a {
  text-decoration: none;
}

.nav-bar-logoName {
  height: 37px;
  margin: 0 0 -2px;
}

.search-span {
  display: inline-flex;
  align-items: center;
}

input.nav-search[type="text"]{
  font-size: 18px;
  font-family: sans-serif;
  padding-left: 5px
}

.nav-icon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.icon2 {
  margin: 0 24px 0 0;
  font-size: 24px;
  color: gray;
}

.icon3{
  width: 18px;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  height: 24px;
  background: #FAFAFA;
  border-bottom: 1px solid #dcdee2;
  border-left: 1px solid #dcdee2;
  border-top: 1px solid #dcdee2;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
