section.post-explore-section {
  padding: 60px 20px 0 20px;
  margin: 0 4.5% 30px 4.5%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dummy{
  display: flex;
  justify-content: center;
}

div.post-explore-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #e6e6e6;
  width: 80%;
  padding-top: 10px;
}

.explore-title {
  color: #999;
}

.post-explore-header {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin: 10px;
}

.hashtag-header{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-info {
  margin-left: 20px;
}

.explore-posts {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.post-explore-item-div {
  width: 293px;
  height: 293px;
  display: flex;
  justify-content: center;
  background: white;
  margin: 5px;
  padding: 0;
}

.hidden-modal {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: 900;
}

.hidden-modal-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: -24px;
  font-weight: 40px;
}

.hidden-modal-section > i {
  margin-right: 5px;
  font-size: 30px;
}

.hidden-modal:hover {
  opacity: 1;
  z-index: 3;
}

.explore-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.post-explore-item-show-div {
  max-width: 100%;
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.post-explore-item-show-info {
  margin: 5px;
  height: 344px;
  box-sizing: border-box;
  -webkit-text-size-adjust: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 200px;
  font-size: 12px;
}

.explore-item-comment > .comment-form > .comment-input{
  font-size: 11px;
}

.post-explore-item-show-info > section {
  max-width: 100%;
  width: -webkit-fill-available;
}

section.post-explore-images {
  max-width: 70%;
  height: 354px;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 0 10px 0 0;
  align-items: center;
  position: relative;
  background-color: black;
}
section.post-explore-images > .like-icon-picture {
  width: 74%;
  height: 100%;
}


.post-explore-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
