
.top-session-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.session-container {
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 10px;
  min-width: 346px;
  width: 346px;
}

div.signup-image {
  overflow: hidden;
  width: 454px;
  height: 618px;
  margin-left: -35px;
  margin-right: 10px;
  object-fit: cover;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

div.signup-image-div {
  position: absolute;
  right: 13.5%;
  bottom: 14.5%;
  overflow: hidden;
  width: 242px;
  height: 430px;
  margin-left: -35px;
  object-fit: cover;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.demo-login {
  align-self: center;
  height: 28px;
}

.signup-image-div > figure {
  margin: 0;
  animation: imageAnimation 15s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}

@keyframes
imageAnimation {  0% {
   animation-timing-function: ease-in;
   opacity: 0;
  }
   8% {
   animation-timing-function: ease-out;
   opacity: 1;
  }
   17% {
   opacity: 1
  }
   25% {
   opacity: 0
  }
   100% {
   opacity: 0
  }
}


.signup-logo {
  width: 175px;
  height: 51px;
  display: flex;
  align-self: center;
  margin: 10px 0 12px;
}

// .signup-phone {
//   width: 454px;
//   height: 618px;
// }

.form-div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  text-align: center;
}

.signup-form-top {
  min-height: 535px;
}

.session-container-organize {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-div > span {
  font-weight: 600;
  line-height: 20px;
  font-size: 17px;
  margin: 0 40px 10px;
  color: #999;
  text-align: center;
}


.bottom-div > a {
  text-decoration: none;
}

.session-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bottom-div {
  display: block;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
}

.session-form > input {
  width: 250px;
}

.session-form > input[type="submit"] {
  padding: 0 12px;
  cursor: pointer;
  background: #3897f0;
  border-color: #3897f0;
  color: white;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
  height: 32px;
  margin-top: 10px;
}

.sign-up-disclaimer {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  margin: 10px 60px;
}

#rotatingImg {
  width: 240px;
  height: 427px;
  margin-left: 89.8px;
  margin-top: 10px;
}
