.story-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  font-size: 12px;
  color: #999;
  width: 250px;
  height: 390px;
  padding: 15px 0 0 15px;
  position: absolute;
  right: -291px;
}

.fixed-true {
  position: fixed;
  top: 75px;
}

.story-index {
  height: 80%;
  overflow: scroll;
}

.story-header-user-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.story-header-user-info > .username {
  color: black;
}

.story-container-div {
  width: 100%;
  height: 100%;
}

@media (max-width: 1080px) {
  .story-container {
    display: none;
  }
  .app-level-index-div {
    justify-content: center;
  }
  .post-index-section {
    align-self: center;
    top: 0;
  }
}

.story-item {
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.story-container-div > .story-header {
  align-self: flex-start;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
}

section.story-header {
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
}

section.story-header > .profile-pic-div > .profile-frame {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.story-item > .profile-pic-div > .profile-frame {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}
