div.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  max-width: 932px;
  height: 152px;
  padding-bottom: 44px;
  border-bottom: 1px solid #e6e6e6;
}
.user-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 70px;
  align-items: center;
}

.user-info-sub1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 300px;
}

.icon4 {
  padding-left: 16px;
  margin-right: -21px;
  font-size: 26px;
}

.profile-username {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-weight: 100;
  font-size: 32px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.edit-profile {
  margin-top: 10px;
  background-color: white;
  color: black;
  border: 1px solid #e6e6e6;
  padding-left: 24px;
  padding-right: 24px;
  width: 140px;
  height: 26px;
}

.user-info-sub2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 300px;
}

.profile-frame {
  width: 152px;
  height: 152px;
  border-radius: 50%;
  overflow: hidden;
}

img.profile_picture {
  margin-left: -39px;
}
